server:
  port: 8080
  address: ieims.local
spring:
  output.ansi.enabled: ALWAYS
  security:
    oauth2:
      authorizationserver:
        client:
          reg-client:
            require-authorization-consent: false
            registration:
              client-id: demo
              client-secret: secret
              authorization-grant-types: authorization_code
              redirect-uris: http://127.0.0.1:8082/login/oauth2/code/reg-client
              scopes: user.read,user.write,openid
              client-authentication-methods: client_secret_basic
          reg-client-2:
            require-authorization-consent: false
            registration:
              client-id: "demo-2"
              client-secret: "secret-2"
              authorization-grant-types: authorization_code
              redirect-uris: http://127.0.0.1:8083/login/oauth2/code/reg-client-2
              scopes: user.read,user.write,openid
              client-authentication-methods: client_secret_basic
  codec:
    log-request-details: true
  mvc:
    log-request-details: true
logging:
  level:
    web: debug
